# my file
data/
checkpoint/
./ipynb_checkpoints
runs/
__pycache__

# python
.py[cod]
.$py.class

# C
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Enviroments
.env
.venv
env/
venv/
